@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*background-color: #EEEEEE;*/
    height: 200vh;
    position: relative;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ff7017;
}

a, a:hover {
    text-decoration: none !important;
}

.hero {
    width: 100%;
    background: #383838;
}

/* NAVBAR */

.nav-link {
    display: block;
    padding: .5rem .5rem;
}

nav {
    float: left;
    margin: 0 auto;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #c2c1c1;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: white;
}

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

.rounded-circle {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ff7017;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    line-height: 1.33;
}

.icon {
    height: 20px;
    width: 20px;
    display: block;
}

.name {
    color: white;
    margin-left: 5rem;
    padding: 24px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.box {
    display: flex;
    flex-direction: column;
}

.dl {
    font-size: 28px;
    color: black;
    margin-top: 15px;
}

#mobile-menu nav {
    display: none;
}

@media only screen and (max-width: 628px) {
    #navbar nav {
        display: none;
    }

    #mobile-menu nav {
        display: block;
    }
}

/*SOCIAL MEDIA*/
.social-menu {
    margin-left: auto;
    margin-right: auto;
}

.social-menu ul {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: white;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #6f42c1;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e71616;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #00b7f8;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #2c9b09;
}

/*SECTIONS*/
.date {
    color: #ff7017;
    font-size: .75rem;
    float: right;
    font-weight: 300;
}

#experiences h2 {
    color: #ff7017;
}

#experiences p {
    color: white;
}

#experiences ul li {
    color: white;
}

.inner_wrap {
    position: relative;
    padding: 10px 15px 10px 15px;
    margin: 3rem 5rem 3rem 5rem;
    color: black;
    transition: all 100ms ease-out;
}

.inner_wrap:hover {
    transform: scale(1.04);
}

.inner_wrap h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
    text-align: left;
    line-height: 60px;
    margin: 15px 0 10px 0;
    font-weight: 500;
}

.inner_wrap ul li {
    color: #484848;
}

.inner_wrap li a {
    color: #ff7017;
}

.inner_wrap p {
    margin: 0 0 15px 0;
    letter-spacing: 1.6px;
    font-weight: 300;
    color: #383838;
}

.inner_wrap p span {
    font-size: 0.75rem;
    color: #ff7017;
}

.inner_wrap span.border_btm:after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 3px solid #ff7017;
    border-right: 3px solid #ff7017;
}

.inner_wrap span.border_btm:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    border-bottom: 3px solid #ff7017;
    border-left: 3px solid #ff7017;
}

.inner_wrap:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 3px solid #ff7017;
    border-left: 3px solid #ff7017;
}

.inner_wrap:after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-top: 3px solid #ff7017;
    border-right: 3px solid #ff7017;
}

@media (max-width: 1000px) {
    .inner_wrap {
        margin: 3rem 1rem 3rem 1rem;
    }

}

/*SKILLS*/
.modal-header .close {
    font-size: 2rem;
    padding: 1.5rem 1rem;
}

.close:hover {
    color: #ff7017;
    outline: none;
}

.popBtn {
    color: white;
    border-radius: 2rem;
    background-color: #ff7017;
    outline-width: 0;
}

.popBtn:hover {
    color: #383838;
}

.bounce {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.bounce:hover {
    -webkit-animation: bounce 0.25s 2 linear alternate;
    -moz-animation: bounce 0.25s 2 linear alternate;
    -o-animation: bounce 0.25s 2 linear alternate;
    animation: bounce 0.25s 2 linear alternate;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(-3deg);
    }
}

/*SKILLS*/
::selection {
    color: #fff;
    background: #ffaa76;
}

.skill-bars {
    padding: 25px 30px;
    width: 100%;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.skill-bars .bar {
    margin: 20px 0;
}

.skill-bars .bar:first-child {
    margin-top: 0;
}

.skill-bars .bar .info {
    margin-bottom: 5px;
}

.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #383838;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.farsi span {
    width: 100%;
}

.bar .progress-line.prof1 span {
    width: 100%;
}

.bar .progress-line.prof2 span {
    width: 85%;
}

.bar .progress-line.prof3 span {
    width: 75%;
}

.bar .progress-line.prof4 span {
    width: 90%;
}

.bar .progress-line.normal1 span {
    width: 65%;
}

.bar .progress-line.normal2 span {
    width: 50%;
}

.bar .progress-line.familiar span {
    width: 30%;
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #ff7017;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #ff7017;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.prof1 span::after {
    content: "Proficent";
}

.progress-line.prof2 span::after {
    content: "Proficent";
}

.progress-line.prof3 span::after {
    content: "Proficent";
}

.progress-line.prof4 span::after {
    content: "Proficent";
}

.progress-line.farsi span::after {
    content: "Native";
}

.progress-line.normal1 span::after {
    content: "Normal";
}

.progress-line.normal2 span::after {
    content: "Normal";
}

.progress-line.familiar span::after {
    content: "Familiar";
}

/*PRESENTATION*/
.prep {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 15px;
}

.prep img {
    width: 100%;
    border: black solid 0.1px;
    border-radius: 2rem;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
}

.prep img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*FOOTER*/
.contact {
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
}

footer {
    width: 100%;
    background-color: #383838;
    color: #fff;
}

footer .bottom_content section {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: Center;
}

.bottom_content a {
    color: #ff7017;
    margin: 0 10px;
    transition: 0.5s;
}

.bottom_content #social a {
    color: white;
    margin: 0 20px;
    font-size: 40px;
}

.bottom_content a:hover {
    color: white;
}

.bottom_content #social a:nth-child(1):hover {
    color: #6f42c1;
}

.bottom_content #social a:nth-child(2):hover {
    color: #0077b5;
}

.bottom_content #social a:nth-child(3):hover {
    color: red;
}

.bottom_content #social a:nth-child(4):hover {
    color: #00b7f8;
}

.copyright {
    padding: 0.8em 0;
    background-color: #383838;
    text-align: center;
    color: white;
    font-size: 12px;
}

@media (max-width: 520px) {
    .bottom_content section {
        padding: 1rem;
        position: relative;
    }

    .bottom_content #social a {
        display: inline-block;
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .bottom_content #footer-nav a {
        margin: 7px;
        padding: 0;
        font-size: 15px;
    }
}